# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Special

lambda/main
lambda/main.zip
lambda/o
lambda/prog/function.zip
lambda/prog/main
lambda/prog-kinesis/function.zip
lambda/prog-kinesis/main
lambda/prog-kinesis-handler/function.zip
lambda/prog-kinesis-handler/main
lambda/prog-sns/function.zip
lambda/prog-sns/kinesis/
lambda/prog-sns/main
